* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 81px auto;
    width: 300px;
    height: 400px;
    background-color: #607d8b;
    border-radius: 5px;
    box-shadow: #9E9E9E 5px 6px 9px 2px;
    text-align: center;
    padding-top: 30px;
    font-size: 23px;
}
label {
    color: white;
    font-family: sans-serif;
    display: inline-block;
    width: 80px;
}
input {
    border-radius: 4px;
    padding: 7px;
    width: 170px;
}
form div{
    margin-bottom: 20px;
}