body {
    margin: 0;
}

#menu {
    height: 75px;
    width: 100%;
    background-color: beige;
}

#logo {
    
    width: 72px;
    height: 72px;
}

#titulo {
    display: inline-block;
    font-size: 32px;
    position: relative; 
    top: -26px;
    font-weight: 800;
    font-family: sans-serif;
    color: coral;
}